body {
    background-color: #1f2936;
}

.intro {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;

}

.header {
    font-size: 24px;
    color: #f9faf8;
    
}

.links {
    font-size: 18px;
    color: #E5e7eb;
}

.container {


}
 